html {
    font-size: 16px;
    font-family: 'Cinzel', serif;
}

body {
    margin: 0;
    letter-spacing: 0.1em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

p:not(nav p) {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0;
    font-size: 1rem;
    margin: 0;
}

main {
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15rem;
    background-image: url('./../../assets/skills-bg.png');
    background-position: center;
}

.description-node {
    max-width: 40vw;
    margin-top: 4rem;
}

.project-node {
    border-radius: 15px;
    width: 40vw;
    min-height: 40vh;
}

section {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.48);
    border-radius: 0 15px 15px 0;
    background-color: #ffffff;
}

section p {
    padding: 2rem;
    line-height: 1.5em;
}

section h2 {
    margin: 0;
}

div[clip] {
    width: 2rem;
    height: .5rem;
    background-color: #000000;
}

.description-node__header, .project-node__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    padding-top: 2rem;
}

/* .background {
    position: absolute;
    top: 0;
}

.background__strip {
    height: 100vh;
    width: 10rem;
    background-color: #7E7573;
    transform: rotate(-45deg);
}

.background__image {
    border: 8px solid #7E7573;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    top: 800px;

}

.background__image img {
    border-radius: 50%;
    height: 96%;
    width: 96%;
} */

@media screen and (max-width: 400px) {
    html {
        font-size: 12px;
    }

    main {
        background-image: url('./../../assets/skills-bg-mobile.png');
        height: 128vh;
    }
}

@media screen and (max-width: 1100px) and (min-width: 401px) {
    html {
        font-size: 14px;
    }

    main {
        background-image: url('./../../assets/skills-bg-tablet.png');
    }
}

@media screen and (max-width: 1100px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
    }

    .description-node {
        width: 100vw;
        max-width: none;
        border-radius: 0 0 15px 15px;
    }
}
