/* HEADER */
.logo-button {
    margin-left: .5rem;
}

.menu-button {
    margin-right: .5rem;
}

button {
    z-index: 5;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    pointer-events: auto;
}

header {
    height: 4rem;
    display: flex;
    background-color: #514542;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 4
}